select{
    width:50% !important;
}

.dropdown{
    margin-bottom: 10px;
}

#cat1, #cat2, #cat3{
    display: none;
}

.product-image{
    width:200px;
    height: 200px;
}

.table-responsive
{
    margin-top:10px;
}

#loading-modal .modal-content{
    width:300px !important;
}

#loading-modal .modal-dialog{
    text-align: center;
}

#loading-modal .modal-content{
    left: 46%;
}

#loading-modal img{
    margin-left:-16px;
}

.date-picker{
    min-width:85px;
}

.datepicker{
    z-index: 99999 !important;
}

.margin-left-10{
    margin-left:10px;
}

.label-order{
    font-weight: bold;
}

.order-info label{
    min-width: 90px;
}

.order-info .storage{
    width: 40%;
    display: inline-block;
}

#list-order-detail .row:first-child{
    background-color: darkgrey;
    color: #ffffff;
}

ul#status-section li a {
    display: block;
    border-radius: 8px;
    border: 1px solid #999;
    color: #999;
    padding: 10px 16px;
    font-size: 16px;
}

ul#status-section li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

ul#status-section,ul#status-section li {
    list-style: none;
}

.size-active {
    color: white !important;
    background-color: rgb(52, 186, 217) !important;
}

.fixed-table-body td, .fixed-table-body th{
    vertical-align: middle !important;
    text-align: center;
}

.main-image{
    background-color: #337AB7;
    color: white;
}