select{
    width:50% !important;
}

.dropdown{
    margin-bottom: 10px;
}

#cat1, #cat2, #cat3{
    display: none;
}

.product-image{
    width:200px;
    height: 200px;
}

.table-responsive
{
    margin-top:10px;
}

#loading-modal .modal-content{
    width:300px !important;
}

#loading-modal .modal-dialog{
    text-align: center;
}

#loading-modal .modal-content{
    left: 46%;
}

#loading-modal img{
    margin-left:-16px;
}

.date-picker{
    min-width:85px;
}

.datepicker{
    z-index: 99999 !important;
}

.margin-left-10{
    margin-left:10px;
}