.image-home{
    width: 158px;
    height: 114px;
}

.size-active{
    color: white !important;
    background-color: rgb(52, 186, 217);
}

.btn-default.disabled{
    background : #34BAD9 none repeat scroll 0% 0% !important;
}

.top-nav{
    text-align: right;
}

.top-nav a {
    display: inline-block;
    padding: 5px 10px;
    color: #9d9d9d;
    text-transform: uppercase; }
.top-nav a:hover {
    color: #34bad9; }

#show-cart{
    color: #333;
}

.cart-table{
    font-size: 20px;
}

.empty-cart{
    font-size: 17px;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    /*content: "e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.price-cart-top
{
    font-weight: bold;
    color: #999;
}

.total-top-cart{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#show-cart{
    font-weight: bold;
}

#show-cart button{
    margin-top: 20px;
}

.cart-content-page .col-md-12 > table tr th.quantity {
    width: 7%; }

.cart-content-page .col-md-12 > table tr th {
    border-bottom: 2px solid #e5e5e5; }

.cart-content-page .col-md-12 > table tr td img {
    width: 140px;
    height: 100px;
    padding: 0px !important; }

#delete-item-cart-btn{
    cursor: pointer;
}

.cart-content-page .col-md-12 > table tr th.priceheader {
    width: 10.3%; }

.cart-content-page .col-md-12 > table tr th.total-each {
    width: 33.33%; }

.cart-content{
    cursor: pointer;
}

.panel-heading
{
    padding-bottom: 30px;
}

#cart-item-list img{
    width: 140px;
    height: 100px;
    padding: 0px;
}

.panel-heading{
    min-height: 50px;
}

.update-cart-btn{
    padding: 15px;
    padding-left: 0px;
}

#update-cart-btn{
    width: 100%;
    font-size: 15px;
}

#update-cart-btn .glyphicon{
    float: left;
    margin-right: 10px;
}

.btn-link{
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -moz-user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    background: none;
    color: black;
}

.btn-link:hover{
    color: black;
}

#loading-modal-cart .modal-content{
    text-align: center;
}

#loading-modal-cart .modal-dialog{
    width: 20%;
}

#order-list, #discount{
    font-size: 16px;
}

.order-discount label{
    min-width: 250px;
}

.main_content .category-content .product-main.product-detail .detail-text .quantity {

    padding-left: 0px;}

.main_content .category-content .product-main.product-detail .detail-text .quantity label {

    padding-top: 0px; }
.main_content .category-content .product-main.product-detail .detail-text .size span {
    font-size: 25px; }

.main_content .category-content .product-main.product-detail .detail-text .quantity label {
    font-size: 25px; }

.main_content .category-content .product-main.product-detail .detail-text {
    font-family: "bebas", sans-serif;
    }
.size-chart, .size-chart span{
    font-family: "bebas", sans-serif !important;
    font-size: 15px;
}

p{
    font-family: "bebas", sans-serif !important;
}

#sort-by-price a{
    color: #f00;
}

#sort-by-price a:hover{
    color: #34bad9;
}

.top-nav button, .top-nav a
{
    font-family: "bebas", sans-serif !important;
    font-size: 16px !important;
}

#update-user-modal{
    font-family: "bebas", sans-serif !important;
}

#update-user-modal .tab-content{
    font-size: 15px;
}

#update-user-modal .tab-content input, #update-user-modal .tab-content button, #update-user-modal .modal-footer button{
    font-size: 15px;
}

.tab-content #order-list, .tab-content #discount{
    font-family: "bebas", sans-serif !important;
}

#top-cart .img-detail{
    font-family: "bebas", sans-serif !important;
    font-size: 15px;
}

#show-cart button{
    font-family: "bebas", sans-serif !important;
    font-size: 18px;
}

.cart-content-page{
    font-family: "bebas", sans-serif !important;
    font-size: 15px;
}

.cart-content-page button{
    font-size: 18px !important;
}

.cart-content-page th{
    font-size: 20px;
}