.image-home{
    width: 158px;
    height: 114px;
}

.size-active{
    color: white !important;
    background-color: rgb(52, 186, 217);
}

.btn-default.disabled{
    background : #34BAD9 none repeat scroll 0% 0% !important;
}

.top-nav{
    text-align: right;
}

.top-nav a {
    display: inline-block;
    padding: 5px 10px;
    color: #9d9d9d;
    text-transform: uppercase; }
.top-nav a:hover {
    color: #34bad9; }

#show-cart{
    color: #333;
}

.cart-table{
    font-size: 20px;
}

.empty-cart{
    font-size: 17px;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    /*content: "e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.price-cart-top
{
    font-weight: bold;
    color: #999;
}

.total-top-cart{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

#show-cart{
    font-weight: bold;
}

#show-cart button{
    margin-top: 20px;
}

.cart-content-page .col-md-12 > table tr th.quantity {
    width: 7%; }

.cart-content-page .col-md-12 > table tr th {
    border-bottom: 2px solid #e5e5e5; }

.cart-content-page .col-md-12 > table tr td img {
    width: 140px;
    height: 100px;
    padding: 0px !important; }

#delete-item-cart-btn{
    cursor: pointer;
}

.cart-content-page .col-md-12 > table tr th.priceheader {
    width: 10.3%; }

.cart-content-page .col-md-12 > table tr th.total-each {
    width: 33.33%; }

.cart-content{
    cursor: pointer;
}

.panel-heading
{
    padding-bottom: 30px;
}

#cart-item-list img{
    width: 140px;
    height: 100px;
    padding: 0px;
}